In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from collections import defaultdict
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [20]:
#Loading in the data using pandas to read the parquet file
TY_items = pd.read_parquet("/Users/wendyessilfie/Documents/GitHub/Business-statistics-/Tao Yin_Item_features.parquet")

In [28]:
TY_items

,Articlenr,EF000001,EF000002,EF000003,EF000004,EF000005,EF000006,EF000007,EF000008,EF000010,...,EFDE0031,EFDE0032,EFFR0001,EFFR0002,EFNL0014,EFUK0017,EFUK0019,ETIM,statistiek_hoofdgroep,statistiek_subgroep
0,34581962,6.0,NaN,NaN,NaN,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,A,x1
1,35764300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,A,x2
2,35823358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,A,x3
3,28405226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.0,B,y1
4,35622440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,C,y2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168934,36400064,NaN,NaN,7.0,NaN,NaN,NaN,48.0,930.0,251.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437.0,E,v2
168935,35683154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,A,u3
168936,34382454,NaN,NaN,203.0,NaN,361.0,NaN,48.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,u1
168937,35544288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,C,y2
168938,35615144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,C,y2

In [30]:
ty_no_duplicates = TY_items.drop_duplicates()
ty_no_duplicates

,Articlenr,EF000001,EF000002,EF000003,EF000004,EF000005,EF000006,EF000007,EF000008,EF000010,...,EFDE0031,EFDE0032,EFFR0001,EFFR0002,EFNL0014,EFUK0017,EFUK0019,ETIM,statistiek_hoofdgroep,statistiek_subgroep
0,34581962,6.0,NaN,NaN,NaN,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,A,x1
1,35764300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,A,x2
2,35823358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,A,x3
3,28405226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.0,B,y1
4,35622440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,C,y2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168934,36400064,NaN,NaN,7.0,NaN,NaN,NaN,48.0,930.0,251.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437.0,E,v2
168935,35683154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,A,u3
168936,34382454,NaN,NaN,203.0,NaN,361.0,NaN,48.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,u1
168937,35544288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,C,y2
168938,35615144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,C,y2

In [40]:
TY_2 = TY_items[['Articlenr', 'ETIM', 'statistiek_hoofdgroep', 'statistiek_subgroep']]
TY_2

        Articlenr   ETIM statistiek_hoofdgroep statistiek_subgroep
0        34581962   26.0                     A                  x1
1        35764300   30.0                     A                  x2
2        35823358   31.0                     A                  x3
3        28405226  321.0                     B                  y1
4        35622440   14.0                     C                  y2
...           ...    ...                   ...                 ...
168934   36400064  437.0                     E                  v2
168935   35683154   23.0                     A                  u3
168936   34382454    NaN                     A                  u1
168937   35544288   31.0                     C                  y2
168938   35615144   31.0                     C                  y2

[168939 rows x 4 columns]

In [37]:
# Create a new DataFrame that includes all columns except 'ETIM', 'statistiek_hoofdgroep', and 'statistiek_subgroep'
TY_items_only = TY_items.drop(columns=['ETIM', 'statistiek_hoofdgroep', 'statistiek_subgroep'])

# Display the new DataFrame to confirm the columns are removed
TY_items_only.head

,Articlenr,EF000001,EF000002,EF000003,EF000004,EF000005,EF000006,EF000007,EF000008,EF000010,...,EFDE0003,EFDE0005,EFDE0025,EFDE0031,EFDE0032,EFFR0001,EFFR0002,EFNL0014,EFUK0017,EFUK0019
0,34581962,6.0,NaN,NaN,NaN,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35764300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35823358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28405226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35622440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168934,36400064,NaN,NaN,7.0,NaN,NaN,NaN,48.0,930.0,251.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168935,35683154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168936,34382454,NaN,NaN,203.0,NaN,361.0,NaN,48.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168937,35544288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168938,35615144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Create a new DataFrame that includes all columns except 'ETIM', 'statistiek_hoofdgroep', and 'statistiek_subgroep'
TY_items_only = TY_items.drop(columns=['ETIM', 'statistiek_hoofdgroep', 'statistiek_subgroep'])

# Replace all NaN values with 0
TY_items_only.fillna(0, inplace=True)
# Display the DataFrame to check changes
TY_items_only.head()

,Articlenr,EF000001,EF000002,EF000003,EF000004,EF000005,EF000006,EF000007,EF000008,EF000010,...,EFDE0003,EFDE0005,EFDE0025,EFDE0031,EFDE0032,EFFR0001,EFFR0002,EFNL0014,EFUK0017,EFUK0019
0,34581962,6.0,0.0,0.0,0.0,0.0,0.0,0.0,6.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,35764300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,35823358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28405226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35622440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
TY_2[['Articlenr','statistiek_hoofdgroep']]
TY_hoofdgroep = TY_2['statistiek_hoofdgroep']

In [64]:
#hoofdgroep_encoded = pd.get_dummies(TY_2, columns=['statistiek_hoofdgroep'])
hoofdgroep_encoded = pd.get_dummies(TY_hoofdgroep, columns=['statistiek_hoofdgroep'], dtype=int)

# Display the DataFrame to check the results
hoofdgroep_encoded.head()

    A  B  C  D  E  F  G  H  I
0   1  0  0  0  0  0  0  0  0
1   1  0  0  0  0  0  0  0  0
2   1  0  0  0  0  0  0  0  0
3   0  1  0  0  0  0  0  0  0
4   0  0  1  0  0  0  0  0  0
5   0  0  1  0  0  0  0  0  0
6   0  0  1  0  0  0  0  0  0
7   0  0  1  0  0  0  0  0  0
8   0  0  1  0  0  0  0  0  0
9   0  0  0  1  0  0  0  0  0
10  0  0  1  0  0  0  0  0  0
11  0  0  1  0  0  0  0  0  0
12  0  0  0  1  0  0  0  0  0
13  1  0  0  0  0  0  0  0  0
14  0  0  1  0  0  0  0  0  0
15  0  0  1  0  0  0  0  0  0
16  0  0  1  0  0  0  0  0  0
17  0  0  1  0  0  0  0  0  0
18  0  0  1  0  0  0  0  0  0
19  0  0  1  0  0  0  0  0  0
20  0  1  0  0  0  0  0  0  0
21  0  0  1  0  0  0  0  0  0
22  0  0  1  0  0  0  0  0  0
23  0  0  1  0  0  0  0  0  0
24  0  0  1  0  0  0  0  0  0
25  0  0  1  0  0  0  0  0  0
26  0  0  1  0  0  0  0  0  0
27  0  0  1  0  0  0  0  0  0
28  0  0  1  0  0  0  0  0  0
29  1  0  0  0  0  0  0  0  0